recursive-include ptfgen_templates *.dart
recursive-include ptfgen_templates *.strings
recursive-include ptfgen_templates *.yml
recursive-include ptfgen_templates *.h
recursive-include ptfgen_templates *.txt
recursive-include ptfgen_templates *.md
recursive-include ptfgen_templates *.png
recursive-include ptfgen_templates *.plist